# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\vstempsamples\java_train\JavaIntermediateInterviewQuestions-master\Hackerrank_Array_LeftRotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
