# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\vstempsamples\Java_Prerequisite_OOP\Hackerrank\Hackerrank_plus-minus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
